.matchCard {
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.1);
}

.Defeat {
  background-image: linear-gradient(290deg, #442331, #532d3d);
  border-style: solid;
  border-radius: 8px;
  border-color: #803b58;
  border-width: 2px;
  color: #b0718c;
}

.Victory {
  background-image: linear-gradient(290deg, #1c2f5b, #233664);
  border-style: solid;
  border-radius: 8px;
  border-color: #3a74c2;
  border-width: 2px;
  color: #3a74c2;
}

.leftPlayerBox {
  display: flex;
  flex-direction: row;
  width: 35%;
  height: 100%;
  align-items: center;
  font-size: 19px;
}

.rightPlayerStats {
  text-align: right;
}

.leftPlayerStats {
  text-align: left;
}

.leftPortraitContainer img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  margin: 20px;
}

.rightPlayerBox {
  display: flex;
  flex-direction: row;
  width: 35%;
  height: 100%;
  align-items: center;
  justify-content: right;
  font-size: 19px;
}

.rightPortraitContainer img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  margin: 20px;
}

.leftEnemyContainer img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  margin: 10px;
}

.rightEnemyContainer img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  margin: 10px;
}

.outcome {
  font-size: 20px;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerMatchBox {
  width: 30%;
}

.vsBox {
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.cardExpandContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.summaryContainer {
  height: 110px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: fit-content;
}

.expandBox {
  display: flex;
  justify-content: center;
}
.expandedMatchBox {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.expColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding: 10px;
}

.combatColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding: 10px;
}

.objColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding: 10px;
}

.graphBar {
  align-self: center;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  background-color: rgb(0, 0, 0, 0.3);
  margin-top: 5px;
}

.graphLabel {
  font-size: 15px;
}

.duoHalf {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.enemyHalf {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.p1 {
  display: flex;
  flex-direction: row-reverse;
}

.p2 {
  display: flex;
  flex-direction: row-reverse;
}

.p1Bar {
  height: 100%;
  background-color: #2b8845;
  border-left: black;
  border-style: solid;
  border-left-width: 1px;
  border-bottom: none;
  border-right: none;
  border-top: none;

}

.p2Bar {
  height: 100%;
  background-color: #00650c;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.e1Bar {
  height: 100%;
  background-color: #591457;
  border-left: black;
  border-style: solid;
  border-left-width: 1px;
  border-bottom: none;
  border-top: none;

}

.e2Bar {
  height: 100%;
  background-color: #8f2aae;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: black;
  border-style: solid;
  border-left-width: 1px;
  border-bottom: none;
  border-top: none;
  border-right: none;
}

.statRow {
  width: 100%;
  padding-top: 10px;
}

