.App {
  text-align: center;
  --primary: #11998e;
  --secondary: #38ef7d;
  --white: #fff;
  --gray: #9b9b9b;
  --cream: #F2E3D6;
}


.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 3px solid grey;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.0rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--primary);
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--primary),var(--secondary));
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
/* demo */
body {
  font-family: 'Poppins', sans-serif; 
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #192C40;
}

h5 {
  font-size: 2.5em;
  color: #cfd0cf;
  margin-bottom: 30px;
}

.summonerCardList {
  padding-top: 30px;
}

.summonerCard {
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(to right, #15321d,  #15321d);
  height: 85px;
}
.summonerCard:hover {
  background: linear-gradient(to right, #15321d,  #15552e);
}
.summonerIcon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  margin-left: 10px;
}



.cardRank {
  display: flex;
  font-size: 22px;
  color: #888;
  padding-right: 10px;
}

.cardContent {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  flex-grow: 1;
}

.cardName {
  font-size: 22px;
  color: white;
}

.removeCard {
  color:#fff;
  margin-right: 10px;
}

.duoCard {
  display: flex;
  align-items: center;
  border-style: solid;
  border-radius: 5px;
  border-color: #3468ad;
  border-width: 2px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  background-image: linear-gradient(290deg, #192C40, #1d344d);
  height: 65px;
  width: 250px;
}

.duoIcon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  margin-left: 10px;
}

.duoCardContent {
  font-size: 18px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  flex-grow: 1;
  color: #6d98ca;
}



.playerBox {
  height: 100px;
  width: 80vh;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-flow: row;
}

.statsBox {
  display: flex;
  justify-content: right;
}

.matchBox {
  width: 700px;
}




#root {
  height: 100vh;
  width: 80vh;
}

